$defaultFont: Tahoma,
Geneva,
sans-serif;
$defaultGrey: #696D70;
.add-patient-container {
    margin-top: 79px;
    font-family: $defaultFont;
    h1 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .add-patient-form {
        width: 40vw;
        margin: 0 auto;
        line-height: 25px;
        button {
            margin-top: 15px;
        }
    }
}