$defaultFont: Tahoma,
Geneva,
sans-serif;
$defaultGrey: #696D70;

.admin-container {
    margin-top: 79px;
    font-family: $defaultFont;
    div {
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
                height: 25px;
            }
        }   
    }
}
.grid-container {
    padding-top: 15px;
    margin: 0 auto;
    width: 80vw;
    a {
        margin-bottom: 10px;
    }
}
.myGrid {
    width: 70vw;
    height: 250px;
}