$defaultFont: Tahoma,
Geneva,
sans-serif;
$defaultGrey: #696D70;

.appointment-request-container {
    font-family: $defaultFont;
    padding: 20px;
}
.appointment-response-container {
    font-family: $defaultFont;
    padding: 20px;
    p {
        font-size: 20px;
    }
}