$defaultFont: Tahoma,
Geneva,
sans-serif;
$defaultGrey: #696D70;
.home-container {
    margin-top: 79px;
}

.home-jumbotron {
    height: 750px;
    width: 100vw;
    background: url("../app/assets/slc-valley.jpg") 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-container {
    height: 300px;
    width: 450px;
    background-color: rgba(0, 0, 0, .35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $defaultFont;
    .business-southwest {
        font-size: 60px;
        color: white;
        text-shadow: -1px 0 $defaultGrey, 0 1px $defaultGrey, 1px 0 $defaultGrey, 0 -1px $defaultGrey;
    }
    .business-chiropractic {
        font-size: 45px;
        color: white;
        text-shadow: -1px 0 $defaultGrey, 0 1px $defaultGrey, 1px 0 $defaultGrey, 0 -1px $defaultGrey;
    }
    .business-south-jordan {
        font-size: 20px;
        color: white;
        text-shadow: -1px 0 $defaultGrey, 0 1px $defaultGrey, 1px 0 $defaultGrey, 0 -1px $defaultGrey;
    }
    div {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        ul {
            display: flex;
            flex-direction: row;
            align-content: space-around;
            flex-wrap: wrap;
            li {
                .business-phone-button {
                    background-color: white;
                    margin-right: 25px;
                    border-radius: 10px;
                    height: 40px;
                    width: 164px;
                    font-family: $defaultFont;
                }
                .request-appointment-button {
                    background-color: #90b5d6;
                    height: 40px;
                    width: 200px;
                    border-radius: 10px;
                    font-family: $defaultFont;
                    color: white;
                }
            }
        }
    }
}

.about-sw-chiro {
    height: 700px;
    width: 100vw;
    background-color: #f7f7f7;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .about-left {
        height: 400px;
        width: 30vw;
        margin-right: 55px;
        background: url("../app/assets/office.jpg") 50% / cover no-repeat;
    }
    .about-right {
        width: 30vw;
        font-family: $defaultFont;
        h4 {
            font-size: 25px;
        }
        p {
            line-height: 20px;
        }
    }
}

.meet-the-dr {
    height: 700px;
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .meet-the-dr-left {
        width: 30vw;
        font-family: $defaultFont;
        h4 {
            font-size: 25px;
        }
        p {
            line-height: 20px;
        }
    }
    .meet-the-dr-right {
        height: 400px;
        width: 30vw;
        margin-left: 55px;
        background: url("../app/assets/family.jpg") 50% / cover no-repeat;
    }
}

