<div class="appointment-request-container">
    <div class="modal-header">
        <h3>Fill out form to request an appointment.  We will contact you during normal business hours to confirm availability.</h3>
    </div>
    <form name="form.userForm" ng-submit="submitForm(info)" novalidate>
        <div class="modal-body">
            <!-- NAME -->
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="firstname" class="form-control" ng-model="info.first" required>
                <p ng-show="form.userForm.name.$invalid && !form.userForm.name.$pristine" class="help-block">Your first name is required.</p>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastname" class="form-control" ng-model="info.last" required>
                <p ng-show="form.userForm.name.$invalid && !form.userForm.name.$pristine" class="help-block">Your last name is required.</p>
            </div>
            

            <!-- USERNAME -->
            <div class="form-group">
                <label>Phone</label>
                <input type="tel" name="phone" class="form-control" ng-model="info.phone" ng-minlength="10" ng-maxlength="15" required>
                <p ng-show="form.userForm.phone.$error.minlength" class="help-block">Phone number is too short.</p>
                <p ng-show="form.userForm.phone.$error.maxlength" class="help-block">Phone number is too long.</p>
            </div>

            <!-- EMAIL -->
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="info.email" required>
                <p ng-show="form.userForm.email.$invalid && !form.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="date" name="date" class="form-control" ng-model="info.date" required>
                <p ng-show="form.userForm.date.$invalid && !form.userForm.date.$pristine" class="help-block">Enter a valid date.</p>
            </div>
            <div class="form-group">
                <label>Time</label>
                <select ng-options="hour for hour in hours" class="form-control" ng-model="info.time" required></select>
                <p ng-show="form.userForm.time.$invalid && !form.userForm.time.$pristine" class="help-block">Enter a valid time.</p>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid" ng-click="showSuccess()">Submit</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>