<div class="services-container">
    <div class="jumbotron-services">
        <div class="jumbotron-services-cover">
            <div class="jumbotron-services-content">
                <h1>Back Pain Specialist</h1>
                </br>
                <p>Brad Peterson, DC, is a chiropractor who can help relieve back pain caused by poor posture, injury and other
                    lifestyles habits.
                </p>
                </br>
                <div>
                    <ul>
                        <li>
                            <a href="tel:8012549400">
                            <button class="services-phone-button">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                        </li>
                        <li>
                            <button class="services-request-appointment-button" type="button" ng-click="showForm()">Request Appointment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="services-content-container">
        <h1>Back Pain</h1>
        </br>
        <h3>What Causes Back Pain?</h3>
        </br>
        <p>Generally speaking, back pain is caused by an injury, poor posture or degenerative changes in the spine. A fall or
            automobile accident can damage bones in the spine or cause muscle strains; severe trauma can even tear muscles,
            tendons or ligaments. Improper lifting or bending, as well as sitting or standing in a slouched position can
            -- over time -- stress the spine and cause pain. As people age, the spine can degenerate from wear and tear,
            for example, poor posture or improper lifting techniques. Conditions like arthritis can also cause back pain.</p>
        </br>
        <h3>Does Spinal Anatomy Affect Back Pain?</h3>
        </br>
        <p>The spine is a marvel of flexibility and complexity. Between each of the 33 spinal bones (vertebrae) are spongy cushions
            of thick cartilage; these are the spine's shock absorbers. Each vertebra has a hole through the center to allow
            passage of the spinal cord, and the nerves that affect the body run from the spinal cord along the spine. Muscles,
            ligaments, and tendons support and stabilize the spine and allow it to bend, straighten, or rotate. This very
            flexibility makes it susceptible to injury if muscles are weak or there is dysfunction in any of the spinal structures.</p>
        </br>
        <h3>How Can Chiropractic Help Back Pain?</h3>
        </br>
        <p>Back pain is often the result of a spinal misalignment. Vertebrae can slide out of position, which puts stress on
            muscles, tendons, and ligaments. As the patient's posture changes in response to the misalignment, muscles may
            go into spasm. A chiropractic adjustment corrects the misalignment, allowing the muscles and spine to relax into
            a normal position. Chiropractors can also treat tense muscles directly or teach exercises to help strengthen
            and stretch muscles.</p>
        </br>
        <h3>How Long Will It Take to Correct the Problem?</h3>
        </br>
        <p>If the back pain is of short duration, a single treatment may bring relief. Some patients may deal with the pain
            for some time before they see a chiropractor. They have usually changed their gait or posture in response to
            the pain. As the stress on the back strains the muscles, they become shortened and tense. In these cases, several
            treatments may be necessary before the back stabilizes.</p>
        </br>
        <div class="services-request-appointment-button-centered ">
            <button class="services-request-appointment-button-centered" type="button" ng-click="showForm()">Request Appointment</button>
        </div>
    </div>
</div>