<div class="services-container">
    <div class="jumbotron-services">
        <div class="jumbotron-services-cover">
            <div class="jumbotron-services-content">
                <h1>Headaches Specialist</h1>
                </br>
                <p>Headaches can take the fun out of the day and even become debilitating. Dr. Brad Peterson, DC, offers chiropractic
                    headache treatment to residents of the Salt Lake City area.
                </p>
                </br>
                <div>
                    <ul>
                        <li>
                            <a href="tel:8012549400">
                            <button class="services-phone-button">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                        </li>
                        <li>
                            <button class="services-request-appointment-button" type="button" ng-click="showForm()">Request Appointment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="services-content-container">
        <h1>Headaches</h1>
        </br>
        <h3>Are All Headaches the Same?</h3>
        </br>
        <p>People can have headaches for all sorts of reasons. A tension headache, for example, results from tight muscles in
            the neck and scalp or from spinal misalignment. Sinus headaches are caused by inflammation in the nasal passages;
            the patient may also have allergies. Migraines have a vascular component and can be debilitating, with severe
            pain, nausea, vomiting and excessive sensitivity to noise and light. Cluster headaches tend to occur repeatedly
            in one day and usually affect one eye or one side of the head.</p>
        </br>
        <h3>Aren't Migraines Just a Headache?</h3>
        </br>
        <p>A migraine isn't just a headache, but a collection of neurological symptoms. Severe pain, usually on one side of
            the head, is one of the classic symptoms. Neurological symptoms include visual changes, tingling, and numbness,
            which can occur only in the face or in the extremities as well. A person with a migraine can even display symptoms
            of a stroke, with slurred speech, problems with muscle coordination and mental confusion. A sensation of spinning
            dizziness called vertigo can also result from a migraine headache.</p>
        </br>
        <h3>Are There Risk Factors for Headaches?</h3>
        </br>
        <p>Chronic headaches may have a genetic component, as they tend to run in families; this is particularly true of migraines.
            Women are more likely to develop headaches, particularly migraines. Sleep disturbances and stress may increase
            the risk of headaches. There may be a genetic or biological connection between mental health and headaches. People
            with chronic daily headaches of any kind are also more likely to have conditions like bipolar disorder, depression,
            and anxiety.

        </p>
        </br>
        <h3>How Can Chiropractic Help Headaches?</h3>
        </br>
        <p>When headaches result from tension caused by spinal misalignment or tense, tight muscles in the neck and scalp, chiropractic
            may be helpful. A chiropractor can also perform a sinus adjustment to target the bones and mucous membranes that
            line the sinus cavities. Although migraines don't necessarily result from a spinal misalignment, research has
            shown that chiropractic treatments can still be helpful. This may be because spinal alignment affects the entire
            nervous system, and migraines are a neurological condition. Chiropractic is also helpful when a headache combines
            features of both tension and migraine headaches.</p>
        </br>
        <div class="services-request-appointment-button-centered ">
            <button class="services-request-appointment-button-centered" type="button" ng-click="showForm()">Request Appointment</button>
        </div>
    </div>
</div>