<h1>Angular-Google-Maps</h1>

<!--<gm-map gm-map-id="'myMap'" gm-center="center" gm-zoom="zoom" gm-map-options="options.map" gm-bounds="bounds" gm-map-type-id="options.mapTypeId"
    style="width:80vw;height:500px;margin: 0 auto;">

    <gm-markers gm-objects="marker" gm-id="marker.id" gm-position="marker.location"></gm-markers>
</gm-map>-->

<div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.0244573376717!2d-111.94155564884026!3d40.56313715454436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752861b6ac8e901%3A0x3a13035473ee5e8c!2sSouthwest+Chiropractic!5e0!3m2!1sen!2sus!4v1497525709462" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
