<div class="home-container">
    <div class="home-jumbotron">
        <div class="business-container">
            <h1 class="business-southwest">SOUTHWEST</h1>
            <h3 class="business-chiropractic">CHIROPRACTIC</h3>
            <p class="business-south-jordan">SOUTH JORDAN, UT</p>
            <div>
                <ul>
                    <li>
                        <a href="tel:8012549400">
                            <button>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                    </li>
                    <li>
                        <button type="button" ng-click="showForm()">Request Appointment</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height: 400px; width: 100vw; background: gray"></div>


</div>