<div class="home-container">
    <div class="home-jumbotron">
        <div class="business-container">
            <h1 class="business-southwest">SOUTHWEST</h1>
            <h3 class="business-chiropractic">CHIROPRACTIC</h3>
            <p class="business-south-jordan">SOUTH JORDAN, UT</p>
            <div>
                <ul>
                    <li><a href="tel:8012549400"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height: 400px; width: 100vw; background: gray"></div>

   
</div>