<div class="services-container">
    <div class="jumbotron-services">
        <div class="jumbotron-services-cover">
            <div class="jumbotron-services-content">
                <h1>Massage Therapy Specialist</h1>
                </br>
                <p>Chiropractor Brad Peterson, DC, provides chiropractic treatment and massage therapy for musculoskeletal conditions.
                </p>
                </br>
                <div>
                    <ul>
                        <li>
                            <a href="tel:8012549400">
                            <button class="services-phone-button">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                        </li>
                        <li>
                            <button class="services-request-appointment-button" type="button" ng-click="showForm()">Request Appointment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="services-content-container">
        <h1>Massage Therapy</h1>
        </br>
        <h3>What Is Massage Therapy?</h3>
        </br>
        <p>Massage therapy, in many people's minds, is simply focused on relieving tension. However, massage has an ancient
            history and is used in many traditional healing therapies. A form of bodywork, massage includes techniques like
            kneading, stretching, tapping and stroking, with the goal of loosening muscle fibers to relieve spasm. Although
            it is certainly relaxing, a good professional massage can also increase flexibility, improve circulation and
            lower the blood pressure. Massage has even been found to promote immune system function.</p>
        </br>
        <h3>Is All Massage Therapy the Same?</h3>
        </br>
        <p>Massage has many variations; there are over 200 massage techniques and dozens of different styles of massage. The
            gentle, flowing strokes of relaxation massage may be familiar to many people. Swedish massage is a more vigorous
            technique that is focused on improving circulation. Deep tissue massage is used to help loosen the fascia --
            a tight covering over the muscles -- and targets the deep muscles beneath the skin. Massage techniques have also
            been developed for conditions like pregnancy or specific groups like the elderly.</p>
        </br>
        <h3>How Does Massage Work?</h3>
        </br>
        <p>The physical pressure and stroking help relax the muscles, allowing them to loosen and helping to relieve spasm.
            Massage also stimulates the lymphatic system, which promotes drainage of waste substances and toxins that can
            contribute to muscle pain. The increased circulation from massage means muscles receive more oxygen. Finally,
            special receptor cells in the skin are stimulated by massage and send chemical messages to the brain that promotes
            the release of pain-killing endorphins.</p>
        </br>
        <h3>Do I Need Both Massage and Chiropractic?</h3>
        </br>
        <p>Combining massage therapy and chiropractic can accelerate healing. Muscle tension and spasm can cause alignment problems,
            and vice versa. Even if the alignment is corrected, the muscles may still experience pain and this may result
            in alignment changes as the patient changes his or her posture. Chiropractors might use massage in a limited
            fashion, but their primary focus is correcting misalignment. A full massage can have much more impact and make
            chiropractic treatment more effective.</p>
        </br>
        <div class="services-request-appointment-button-centered ">
            <button class="services-request-appointment-button-centered" type="button" ng-click="showForm()">Request Appointment</button>
        </div>
    </div>
</div>