<div class="services-container">
    <div class="jumbotron-services">
        <div class="jumbotron-services-cover">
            <div class="jumbotron-services-content">
                <h1>Neck/Shoulder Pain Specialist</h1>
                </br>
                <p>Chiropractor Brad Peterson, DC, provides treatment for neck and shoulder pain to help relieve spasm and improve
                    function.
                </p>
                </br>
                <div>
                    <ul>
                        <li>
                            <a href="tel:8012549400">
                            <button class="services-phone-button">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                        </li>
                        <li>
                            <button class="services-request-appointment-button" type="button" ng-click="showForm()">Request Appointment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="services-content-container">
        <h1>Neck/Shoulder Pain</h1>
        </br>
        <h3>What Causes Neck and Shoulder Pain?</h3>
        </br>
        <p>The neck is susceptible to injury because of the weight of the head (about 12 pounds in an adult) and lack of supporting
            skeletal structures. The shoulder, on the other hand, is an extremely complex and flexible joint: three bones
            -- the clavicle (collarbone); the scapula (shoulder blade); and the humerus (long bone of the arm). These bones
            are connected and supported by muscles, ligaments, and tendons. Any injury or repetitive trauma from overuse
            can result in pain.</p>
        </br>
        <h3>Why Do I Have Both Neck and Shoulder Pain?</h3>
        </br>
        <p>There are many connections between the shoulder and the neck. The two share nerve pathways and some of the muscles
            are also interconnected. For example, muscles that run up the back of the neck are also attached to the shoulder
            blade. The brain can't always tell whether the pain signal is coming from the neck or the shoulder. Restricting
            movement because of pain can also cause muscle tension in both areas, which can result in muscle spasm that makes
            the pain worse.</p>
        </br>
        <h3>How Are Neck and Shoulder Pain Treated?</h3>
        </br>
        <p>As with most musculoskeletal conditions, treatment depends on what's causing the pain. Poor posture can be corrected
            with conscious attention to posture and exercises to stretch and strengthen the muscles. An alignment problem
            in the neck requires chiropractic adjustment. If overuse of the shoulder is the problem (think of a pitcher throwing
            one ball after another), rest is required. Heat, cold or alternating both can help relieve spasm and pain.</p>
        </br>
        <h3>Why Does Chiropractic Help?</h3>
        </br>
        <p>A common response to pain is limiting movement in the area that hurts. Although that may be a temporary solution,
            in the long run, it results in tense muscles that can actually become shorter. As the muscles tighten, they pull
            on the bones to which they are attached, changing the alignment and creating, even more, muscle tension. This
            vicious cycle changes posture restricts movement even more, and results in chronic pain. The misalignment can
            even affect other systems in the body. Chiropractic resolves the alignment problems and helps the patient move
            freely again.</p>
        </br>
        <div class="services-request-appointment-button-centered ">
            <button class="services-request-appointment-button-centered" type="button" ng-click="showForm()">Request Appointment</button>
        </div>
    </div>
</div>