<div class="services-container">
    <div class="jumbotron-services">
        <div class="jumbotron-services-cover">
            <div class="jumbotron-services-content">
                <h1>Pregnancy Care Specialist</h1>
                </br>
                <p>Chiropractor Brad Peterson, DC, offers chiropractic pregnancy care to relieve pain and promote healthy delivery
                    for women.
                </p>
                </br>
                <div>
                    <ul>
                        <li>
                            <a href="tel:8012549400">
                            <button class="services-phone-button">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                        </li>
                        <li>
                            <button class="services-request-appointment-button" type="button" ng-click="showForm()">Request Appointment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="services-content-container">
        <h1>Pregnancy Care</h1>
        </br>
        <h3>Why Do I Need Chiropractic Pregnancy Care?</h3>
        </br>
        <p>As the baby grows and the body prepares for birth, the protruding abdomen increases the curve in the back. The pelvic
            ligaments gradually loosen and the woman's posture adapts in response to these changes. The pelvis can become
            misaligned and affect the ability to deliver without medical interventions. Spinal alignment also affects the
            entire nervous system, which can interfere with body functions like digestion and the process of labor. Chiropractic
            can help prevent or lessen many of these problems.</p>
        </br>
        <h3>Are Chiropractic Treatments Safe During Pregnancy?</h3>
        </br>
        <p>Drug and surgery-free, chiropractic treatment is both a safe and effective option for women throughout all stages
            of their pregnancy. In working on pregnant women, chiropractors avoid applying pressure on the abdomen and use
            adjustable tables to accommodate their expanding bellies. Women suffering certain pregnancy complications, such
            as vaginal bleeding or premature labor, may be advised not to have chiropractic adjustments and should consult
            their obstetricians first.</p>
        </br>
        <h3>What Are the Benefits of Chiropractic Pregnancy Care?</h3>
        </br>
        <p>In the early stages of pregnancy, chiropractic may be helpful in controlling symptoms of nausea. Correct spinal alignment
            allows the nervous system to work properly, which can help reduce morning sickness. Chiropractic can help relieve
            back, neck and joint pain, and keeping a balanced state in the pelvis may help prevent breech birth. As part
            of chiropractic pregnancy care, the doctor will teach patients exercises that stretch and strengthen muscles,
            helping to maintain overall health and promote an easier delivery.</p>
        </br>
        <div class="services-request-appointment-button-centered ">
            <button class="services-request-appointment-button-centered" type="button" ng-click="showForm()">Request Appointment</button>
        </div>
    </div>
</div>