<div class="services-container">
    <div class="jumbotron-services">
        <div class="jumbotron-services-cover">
            <div class="jumbotron-services-content">
                <h1>Sciatica Management Specialist</h1>
                </br>
                <p>Proper sciatica management can make the difference between an active life and chronic pain.
                </p>
                </br>
                <div>
                    <ul>
                        <li>
                            <a href="tel:8012549400">
                            <button class="services-phone-button">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                        </li>
                        <li>
                            <button class="services-request-appointment-button" type="button" ng-click="showForm()">Request Appointment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="services-content-container">
        <h1>Sciatica Management</h1>
        </br>
        <h3>What Is Sciatica?</h3>
        </br>
        <p>Sciatica is neither a disease nor a medical condition, but a group of symptoms that result from something else. The
            classic sign of sciatica is pain radiating down the back of the leg, which follows the path of the sciatic nerve
            and gives the condition its name. Patients with sciatica may also report tingling and numbness in the same area
            or have weakness in the affected leg. Sciatica can't be cured, so chiropractic treatment is focused on sciatica
            management.</p>
        </br>
        <h3>What Causes Sciatica?</h3>
        </br>
        <p>Sciatica can have a number of different causes, including a herniated lumbar disc, degenerative disc disease, spondylolisthesis
            or spinal stenosis. The bones (vertebrae of the back) are separated by cushions of cartilage called discs. These
            can rupture and push on the spinal cord, causing sciatic irritation and pain. Aging and degeneration of the spine
            can cause the same symptoms. Spondylolisthesis is the medical term for a slight dislocation in the spinal joints
            while the narrowing of the spinal canal is called spinal stenosis.</p>
        </br>
        <h3>Are There Risk Factors?</h3>
        </br>
        <p>Increasing age is definitely a factor in sciatica, as it is more likely to develop over time. Most patients with
            sciatica are over the age of 40. However, an acute injury can also lead to the condition. People who work in
            jobs that require heavy lifting or who don't use good body mechanics are more prone to degenerative problems
            and sciatica. Sitting for long periods also stresses the spine and can contribute to sciatica.

        </p>
        </br>
        <h3>How Is Sciatica Managed?</h3>
        </br>
        <p>Sciatica must be managed; it cannot be cured, and even surgery doesn't always relieve symptoms. Chiropractic adjustments
            can help keep the spine in alignment. Chiropractors can also help patients learn how to use their bodies correctly
            and maintain correct posture while lifting. A chiropractor can teach the patient exercises to strengthen the
            spine and make it more flexible, which reduces the risk of injury and can decrease muscle spasms. Massage and
            acupuncture may also be part of sciatica management.</p>
        </br>
        <div class="services-request-appointment-button-centered ">
            <button class="services-request-appointment-button-centered" type="button" ng-click="showForm()">Request Appointment</button>
        </div>
    </div>
</div>