<div class="services-container">
    <div class="jumbotron-services">
        <div class="jumbotron-services-cover">
            <div class="jumbotron-services-content">
                <h1>Scoliosis Specialist</h1>
                </br>
                <p>Chiropractor Brad Peterson, provides postural correction for scoliosis and other chiropractic services.
                </p>
                </br>
                <div>
                    <ul>
                        <li>
                            <a href="tel:8012549400">
                            <button class="services-phone-button">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                        </li>
                        <li>
                            <button class="services-request-appointment-button" type="button" ng-click="showForm()">Request Appointment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="services-content-container">
        <h1>Scoliosis</h1>
        </br>
        <h3>What Is Scoliosis?</h3>
        </br>
        <p>Scoliosis is another term for the excessive curvature of the spine. Viewed from the side, the upper part of a normal
            spine is slightly rounded, while the lower spine sways in slightly. Scoliosis can exaggerate the curve, causing
            a “C” or “S” shape. The spinal curvature must be more than 10 degrees out of the normal range to meet diagnostic
            criteria for scoliosis. Scoliosis usually appears during the period of very fast growth between age 10 and the
            early teens. It may occur later, however, and when it occurs in adults is called degenerative scoliosis. Chiropractic
            treatment can help with postural correction of scoliosis.</p>
        </br>
        <h3>What Causes Scoliosis?</h3>
        </br>
        <p>Although the exact cause is unknown, scoliosis probably has a genetic cause. It tends to run in families, and a family
            history of scoliosis increases the risk of developing this condition. Females are more likely to be affected
            than males. Problems like congenital abnormalities, neurological and muscular disorders, infections and fractures
            of the spine may be contributing factors and are known to cause spinal deformities. Frequently, however, scoliosis
            simply appears for no obvious reason.</p>
        </br>
        <h3>How Does Scoliosis Affect the Body?</h3>
        </br>
        <p>Scoliosis is rather like removing structural supports in a building. As the spine curves, it can also begin to rotate,
            stressing muscles, ligaments and tendons. Over time, arthritis can develop in the spine, and severe scoliosis
            can restrict the patient's ability to breathe deeply. Despite these stresses, most people with scoliosis don't
            complain of back pain. However, the postural changes that result can cause muscle spasm, and postural changes
            also affect the rest of the body, so chiropractic treatment is usually directed toward postural correction.</p>
        </br>
        <h3>How Is Scoliosis Treated?</h3>
        </br>
        <p>Treatment varies according to the severity of the condition. The focus of chiropractic treatment is on postural correction
            and if begun early, it can help the spine to grow in a more normal fashion. Exercise to strengthen and stretch
            muscles, careful attention to posture and treatment of misaligned joints can help correct the spinal curvature
            or prevent it from becoming worse. Occasionally, patients may need a brace, and in truly severe cases, surgery
            may be necessary to prevent crippling spinal deformities.</p>
        </br>
        <div class="services-request-appointment-button-centered ">
            <button class="services-request-appointment-button-centered" type="button" ng-click="showForm()">Request Appointment</button>
        </div>
    </div>
</div>