<div class="services-container">
    <div class="jumbotron-services">
        <div class="jumbotron-services-cover">
            <div class="jumbotron-services-content">
                <h1>TMJ Specialist</h1>
                </br>
                <p>Dr. Brad Peterson, DC, is the premier resource for management of temporomandibular joint (TMJ) disorders.
                </p>
                </br>
                <div>
                    <ul>
                        <li>
                            <a href="tel:8012549400">
                            <button class="services-phone-button">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>801-254-9400</span>
                            </button>
                        </a>
                        </li>
                        <li>
                            <button class="services-request-appointment-button" type="button" ng-click="showForm()">Request Appointment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="services-content-container">
        <h1>TMJ</h1>
        </br>
        <h3>What Is TMJ?</h3>
        </br>
        <p>The temporomandibular joint (TMJ) connects the upper and lower jaw. The joint is located right in front of the earlobes.
            The joint acts as a hinge but also slides; bony surfaces are covered with cartilage for protection. TMJ occurs
            when the joint hurts or doesn't work smoothly. TMJ is quite common and may affect as many as three-quarters of
            Americans, according to the National Institute of Dental and Craniofacial Research.</p>
        </br>
        <h3>What Are the Symptoms of TMJ?</h3>
        </br>
        <p>Pain is a classic symptom of TMJ. It is typically a dull, aching sensation around the ear but may extend to the sides
            and back of the head or even into the neck. TMJ can also cause headaches and earaches. Some people with TMJ have
            difficulty or pain when they chew, talk or open the mouth, and may notice a clicking, popping or grating sound
            as the mouth is opened and closed. TMJ can even cause the jaw to lock.</p>
        </br>
        <h3>What Causes TMJ?</h3>
        </br>
        <p>In many cases, the exact cause of TMJ is unknown. However, if the cartilage in the joint wears or is damaged, TMJ
            can result. The joint can also move out of alignment, especially as a result of a blow or other impact. Jaw injury
            and arthritis increase the risk of TMJ, and long-term habits like clenching or grinding the teeth (bruxism) may
            be a factor. Connective tissue diseases can affect the joint and result in TMJ as well as other problems.</p>
        </br>
        <h3>How Can Chiropractic Help TMJ?</h3>
        </br>
        <p>When a patient has TMJ, it causes tension in the muscles around the joint or joints. Improper posture or a misalignment
            in the neck or spine can also contribute to the problem. Chiropractic treatment can resolve alignment problems.
            It can also focus on relieving the muscle tension through trigger point therapy. A trigger point is a knotted,
            highly sensitive area of muscle fibers. Once the muscles relax, the stress on the jaw is decreased. Chiropractors
            can also teach exercises to help relax and stretch the jaw muscles.</p>
        </br>
        <div class="services-request-appointment-button-centered ">
            <button class="services-request-appointment-button-centered" type="button" ng-click="showForm()">Request Appointment</button>
        </div>
    </div>
</div>